<div class="container-fluid bg-dark" style="height: 100vh;">
    <div class="row align-items-center" style="height: 100%;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="card p-4 bg-light" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="text-center">
                    <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Login</h3>
                </div>
                <input class="form-control shadow-lg mb-2" type="text" placeholder="Enter a username" formControlName="username">
                <div *ngIf="username?.touched && username?.invalid">
                    <small class="text-danger">Username is required.</small>
                </div>
                <input class="form-control shadow-lg" type="password" placeholder="Enter a password" formControlName="password">
                <div *ngIf="password?.touched && password?.invalid">
                    <small class="text-danger" *ngIf="password?.hasError('required')">Password is required.</small>
                    <small class="text-danger" *ngIf="password?.hasError('minlength')">Password must be at least 8 characters.</small>
                </div>
                <div class="text-center mt-3">
                    <button [disabled]="loginForm.invalid" class="btn btn-outline-primary shadow" type="submit">Login</button>
                </div>
                <a href="" routerLink="/register" style="color: black; text-decoration: none; font-family: 'Courier New', Courier, monospace;">New member? Register here</a>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>